{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "news") (eq .Section "recipes") }}

<!-- blog single -->
<section id="{{ (or .Section .Title) | anchorize }}">
  <div class="container">
    <div class="row ">
      <div class="offset-md-2 col-lg-8 mb-4">
	{{ if and (not .Params.hidetitle) (.Params.imagedisplay) }}
	<h2 class="mt-3 mb-3" >{{ .Title }}</h2>
	{{ end }}
	{{ if not (eq .Params.imagedisplay "none") }}
	<div class="text-center">
	<img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid {{ if .Params.imagedisplay }} w-33 mt-2 {{ if eq .Params.imagedisplay "left" }} float-left mr-4 {{ else if eq .Params.imagedisplay "right" }} float-right ml-4 {{ end }} {{ else }} w-50 mb-3  {{ end }} rounded">
	</div>
	{{ end }}
	<article class="content mt-1">
	  {{.Content}}
	</article>
      </div>
    </div>
  </div>
</section>
<!-- /blog single -->

<!-- regular page -->
{{ else }}
<section id="{{ (or .Section .Title) | anchorize }}" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	{{ if and (not .Params.hidetitle) (.Params.imagedisplay) }}
	<h2 class="mb-4">{{.Title }}</h2>
	{{ end }}
        {{with .Params.image}}<img src="{{. | absURL }}" alt="{{site.Params.author}}" class="img-fluid w-100 mb-4">{{end}}
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}
